{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">CHANGE PASSWORD</h2>
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-4">
              <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}"
                name="{{ form.old_password.name }}" required placeholder="Old Password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}"
                name="{{ form.new_password1.name }}" required placeholder="New Password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}"
                name="{{ form.new_password2.name }}" required placeholder="Confirm New Password">
            </div>
            <ul>
              <li>Your password must be at least 8 characters long</li>
              <li>Your password must contain at least one uppercase letter</li>
              <li>Your password must contain at least one lowercase letter</li>
              <li>Your password must contain at least one number</li>
              <li>Your password must contain at least one special character</li>
            </ul>
            <button type="submit" class="btn btn-primary d-flex justify-content-center w-100">Change Password</button>
            {% if form.errors %}
            <div class="alert alert-danger mt-4 mx-auto" style="max-width: 600px;">
              <strong>ERROR:</strong> Please correct the following errors:
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}