{% extends 'base.html' %} 
{% block title %} flights {% endblock %} 

{% block content %}

<div class="bg-image" style="
  background-image: url('/static/palm.jpg');
  background-size: cover;
  background-position: center;
">
<div class="card mx-auto" style="max-width: 1200px;">
  <div class="card-body">
    <h1 class="text-center mb-4">FLIGHT SEARCH RESULTS</h1>
    <div class="d-flex justify-content-center">
      <form method="post" style="width: 100%;">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-center">Departure Flights - {{departure_date}}</h3>
            {% for flight in flights %}
              {% if flight.depart_time.date == departure_date %}
                <div class="card my-3 mx-auto" style="max-width: 100%; margin: 0 auto;">
                  <div class="card-body">
                    <p><b>Departure Airport:</b> {{ flight.depart_airport.name }} ({{ flight.depart_airport.code }})</p>
                    <p><b>Destination Airport:</b> {{ flight.arrival_airport.name }} ({{ flight.arrival_airport.code }})</p>
                    <p><b>Departure time:</b> {{ flight.depart_time.time}}</p>
                    <p><b>Arrival time:</b> {{ flight.arrival_time.time}}</p>
                    <p><b>Price:</b> ${{ flight.price}}</p>
                    <input type="checkbox" name="depart_flights[]" value="{{flight.id}}" onclick="checkSelectedFlights();">
                    <label for="flight{{flight.id}}"><i>Book this flight</i></label>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% if return_flights %}
            <div class="col-md-6">
              <h3 class="text-center">Return Flights - {{return_date}}</h3>
              {% for flight in return_flights %}
              
                {% if flight.depart_time.date == return_date %}
                  <div class="card my-3 mx-auto" style="max-width: 100%; margin: 0 auto;">
                    <div class="card-body">
                      <p><b>Departure Airport:</b> {{ flight.depart_airport.name }} ({{ flight.depart_airport.code }})</p>
                      <p><b>Destination Airport:</b> {{ flight.arrival_airport.name }} ({{ flight.arrival_airport.code }})</p>
                      <p><b>Departure time:</b> {{ flight.depart_time.time}}</p>
                      <p><b>Arrival time:</b> {{ flight.arrival_time.time}}</p>
                      <p><b>Price:</b> ${{ flight.price}}</p>
                      <input type="checkbox" name="return_flights[]" value="{{flight.id}}" onclick="checkSelectedFlights();">
                      <label for="flight{{flight.id}}"><i>Book this flight</i></label>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button onclick="goBack()" class='btn btn-secondary mr-2' type="button">Back to Search Page</button>
          <button type="submit" id="save-flights-btn" class='btn btn-primary' disabled>Continue to Add Passengers</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function checkSelectedFlights() {
    var departCheckboxes = document.querySelectorAll('input[name="depart_flights[]"]');
    var returnCheckboxes = document.querySelectorAll('input[name="return_flights[]"]');
    var saveFlightsBtn = document.getElementById('save-flights-btn');

    var departSelected = Array.from(departCheckboxes).some(checkbox => checkbox.checked);
    var returnSelected = Array.from(returnCheckboxes).some(checkbox => checkbox.checked);

    saveFlightsBtn.disabled = !(departSelected || returnSelected);
  }

  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}

