{% extends "base.html" %} 

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center mb-4">LOGIN</h2>
        <form method="post">
          {% csrf_token %} 
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user" style="line-height: 28px;"></i></span>
            </div>
            <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
              name="{{ form.username.name }}" required placeholder="Username" required>
          </div>
          <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock" style="line-height: 28px;"></i></span>
              </div>
              <input type="password" class="form-control" id="{{ form.password.id_for_label }}" 
              name="{{ form.password.name }}" required placeholder="Password" required>
            </div>
          <button type="submit" class="btn btn-primary d-flex justify-content-center w-100">Login</button>
          <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </form>
      </div>
    </div>
    {% if form.errors %}
    <div class="card mt-4">
      <div class="card-body">
        <div class="alert alert-danger" role="alert">
          <strong>Incorrect username or password</strong>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
