{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Welcome to Northwest Airlines!</h1>
  <p>
    This project aims to create a reservation system for Northwest Airlines.
    Users can create an account, log in, and manage their reservations, view
    their account details, and access a calendar to see their booked flights. We
    are continuously working on improving the features and user experience of
    our platform.
  </p>
  {% load static %} <img src="{% static "northwest737.jpg" %}" alt="an image of an Boeing 737 airplane" />
</div>
{% endblock %}
